  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Créer ou trouver un événement ?</h1>
      <p>Ce site est fait pour toi ! Créé des évévements dans ta ville ou trouve des trucs trop cool à faire !</p>
      <div class="btn btn-outline-info" role="button" aria-pressed="true" style="width:200px;"> <%= link_to "Créer un event" %></div>
    </div>
  </div>
