// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.masthead {
  background: image-url('event.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  height: 400px;
  
}
.masthead-text {
  color: white !important;
}

.bd-placeholder-img {
  background: image-url('card.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: cover;
}

.card-event {
  background-color: #F9F595;
  color: #4c4c4c !important;
}

.btn-masthead {
  background-color: #F9F595;
  width: 20%;
}

.nav-link {
  color: #4c4c4c;
}

.btn-card:hover {
  color: rgb(247, 245, 193) !important;
}

.btn-sub {
  background-color: #F9F595;
  border-color: #F9F595;
}

.btn-sub:hover {
  background-color: white !important;
  border-color: #F9F595 !important;
}

.card-header-show {
  background-color: #F9F595;
}